<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% pageTitle %></title>
    <link rel="stylesheet" href="/find.css">
</head>
<body>
    <div class = "search-box">
    <p class = "top"> Looking for something? </p>

    <form action =  "/admin/page2-button" method = "POST">
        <input type = "text" name = "title" id = "title">
        <p> </p>
        <button class = "button1" type="submit"> Find </button>
    </form>
    
    </div>
    
</body>
</html>