<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1 style="font-size: 50px; font-style:oblique; color: rgb(61, 5, 151); font-family: Georgia, 'Times New Roman', Times, serif; text-align: center" > Choppper's Delight </h1>
    <h3 style="text-align: center; color: blue; font-style: italic">This is an ExpressJS Test Website</h3>
</body>
</html>