<!DOCTYPE HTML>
<HTML>
<HEAD> 
    <TITLE> <%= pageTitle %> </TITLE> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" type="text/css" href="landingcss.css">    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/landingcss.css">
    </HEAD>

<BODY>

<div class="navbar">
  <a class = "anchor" href="#home"> <i class="fa fa-github" style="font-size:36px"></i></a>
  <div class="dropdown">
    <button class="dropbtn">Why GitHub? 
      <i class="aa fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        
        <a href="#" style="font-weight: bold">Features</a>
          <a href="#">Code review</a>
          <a href="#">Project management</a>
            <a href="#">Integrations</a>
          <a href="#">Actions</a>
            <a href="#">Package registry</a>
          <a href="#">Team management</a>
            <a href="#">Social coding</a>
          <a href="#">Documentation</a>
            <a href="#">Code hosting</a>
          <a href="#">...................</a>
            <a href="#">Customer stories</a>
          <a href="#">Security</a>
        
      </div>
  </div>
    <div class="dropdown">
    <button class="dropbtn">Enterprise
    </button>

  </div> 
    <div class="dropdown">
    <button class="dropbtn"> Explore 
      <i class="aa fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#" style="font-weight: bold">Explore GitHub</a>
          <a href="#">Learn & contribute</a>
          <a href="#">Topics</a>
            <a href="#">Collections</a>
          <a href="#">Trendind</a>
            <a href="#">Learning Lab</a>
          <a href="#">Open source guides</a>
            <a href="#">Connect with others</a>
          <a href="#">Events</a>
            <a href="#">Community forum</a>
          <a href="#">...................</a>
            <a href="#">Github Education</a>
      </div>
  </div> 
    
    <div class="dropdown">
        <div class="dropdown">
    <button class="dropbtn">Marketplace
    </button>
        </div>
    </div>

    
    <div class="dropdown">
        <div class="dropdown">
    <button class="dropbtn">Pricing
      <i class="aa fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      </div>
  </div> 
  </div> 
<!--
    <form class="navbar-form navbar-left" action="/action_page.php">
  
    <input type="text" class="form-control" placeholder="Search GitHub">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    
  </div>
    </form>
-->
    
    <form>
        <INPUT TYPE="text" class="searchbox" placeholder="Search GitHub">
<!--            <button class="btn btn-default" type="submit">-->
        <i class="bb glyphicon glyphicon-search"></i>
<!--      </button>-->

        </INPUT>
    </form>
    <div class="ula">
    <ul class="sign">
        <li><a href="#" class="signin">Sign in</a></li>
        <li><a href="#" class="signin">Sign up</a></li>
    </ul>
    </div>
    </div>
    
    <header class="header">
        <div class="flex">
            <div class="left">
                <h1> Built for developers</h1>
                <p> GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 36 million developers. </p>
            </div>
            <div class="right">
                <div class="rr">
                <form>
                    <h4>Username</h4>
                    <INPUT TYPE = "text" placeholder="Username" required></INPUT>
                    <h4>Email</h4>
                    <INPUT TYPE = "email" placeholder="Email Address" required></INPUT>
                    <h4>Password</h4>
                    <INPUT TYPE = "password" placeholder="Password" required></INPUT>
                    <p class="note"> Lorem Ipsum, dolor ait, lorem ipsum dolor ait, Lorem Ipsum, dolor ait, lorem ipsum  <a href ="http://www.twitter.com/blazeken_.com"> link to website</a></p>
                    <BUTTON class="button"> Sign up for GitHub</BUTTON>
                    <p class="note2"> Byclicking "Sign Up for GitHub", you agree to our <a href="http://www.twitter.com/blazeken_.com"> Terms of Service</a> and <a href="http://www.twitter.com/blazeken_.com"> Privacy Statement </a>. Bla bla bla bla, lorem ipsum, dolor ait etc
                
                </form>
                </div>
                
            
            </div>
    
        </div>
    </header>
    <header class="header2">
        <div class="dheader">
        <p class="gstarted"> Get Started with GitHub Enterprise</p>
        <p style="text-align: center">Tjkajhjkadjhkhuekjknkah, afhjkhfuihef, fahohoefhpa. A uiohfiap eriapjajk fhuihoahwohw <p>
        <BUTTON class="button2"> Contact Sales</BUTTON>
            <p class="trial"> <a href = "http://www.twitter.com/blazeken_.com"> Or select a free trial of Enterprise Service </a></p>
        </div>
    </header>
    
    
    </BODY>

</HTML>